<div id="page-wrapper">
    <div class="main-page">
        <div class="forms">
            <h3 class="title1" style="margin-bottom: 0.8em">Following <span class="compose pull-right" ng-click="model.moreFollowing()" >More <span class="fa fa-chevron-right"></span></span></h3>
            <h4 style="margin: 1.5em" ng-if="model.following.length == 0">You are not following anyone.</h4>
            <div class="elements  row">
                <div class="col-sm-12 col-lg-6 profile profile1 widget-shadow follow-grid" ng-repeat="following in model.following">
                    <img ng-click="model.href(following.username)" ng-src="{{following.image}}" alt="" height="100" width="100" style="background: white">
                    <!--<img src="images/dp4.png" alt="" height="100" width="100" style="background: white; float: left">-->
                    <div class="floater" style="text-align: center; margin-top: 0.3em">
                        <div style="margin-bottom: 0.7em">
                            <h3 ng-click="model.href(following.username)" style="float: left;">{{following.firstName}}</h3>
                            <h3 ng-click="model.href(following.username)" style="float: left; clear: right; margin-left: 0.6em">{{following.lastName}}</h3>
                            <div class="clearfix"></div>
                        </div>
                        <button class="btn btn-default" ng-click="model.unfollow(following.username)"><span class="fa fa-user-times" style="margin-right: 0.6em"></span>Unfollow</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>