<div ng-controller="SidebarController">
    <ul class="nav nav-sidebar mediumfont">
        <li ng-class="{'active': $location.url()=='/home'}">
            <a ng-class="{disabled: $location.url()=='/home'}"
               href="#/home">
                Home
            </a>
        </li>
        <li ng-class="{'active': $location.url()=='/profile'}">
            <a ng-class="{disabled: $location.url()=='/profile'}"
               ng-show="user"
               href="#/profile">
                Profile
            </a>
        </li>
        <li ng-class="{'active': $location.url()=='/admin'}">
            <a ng-class="{disabled: $location.url()=='/admin'}"
               ng-show="user && user.roles.indexOf('admin')>-1"
               href="#/admin">
                Admin
            </a>
        </li>
        <li ng-class="{'active': $location.url()=='/forms'}">
            <a ng-class="{disabled: $location.url()=='/forms'}"
               ng-show="user"
               href="#/forms">
                Forms
            </a>
        </li>
    </ul>
</div>