<h1 class="page-header">Admin</h1>
<h2>Users</h2>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <!--<td>-->
            <!--<a ng-click="model.sortType = 'username'; model.sortReverse = !model.sortReverse">-->
                <!--Username-->
                <!--<span ng-show="model.sortType == 'username' && !model.sortReverse" class="fa fa-caret-down"></span>-->
                <!--<span ng-show="model.sortType == 'username' && model.sortReverse" class="fa fa-caret-up"></span>-->
            <!--</a>-->
        <!--</td>-->
        <td>
            <a ng-click="model.sortType = 'username'; model.sortReverse = !model.sortReverse">
                Username
                <span ng-show="model.sortType == 'username' && !model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="model.sortType == 'username' && model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </td>
        <td>
            Password
            <span ng-show="model.sortType == 'password' && !model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="model.sortType == 'password' && model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
        </td>
        <td>
            <a ng-click="model.sortType = 'firstName'; model.sortReverse = !model.sortReverse">
                First Name
                <span ng-show="model.sortType == 'firstName' && !model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="model.sortType == 'firstName' && model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </td>
        <td>
            <a ng-click="model.sortType = 'lastName'; model.sortReverse = !model.sortReverse">
                Last Name
                <span ng-show="model.sortType == 'lastName' && !model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="model.sortType == 'lastName' && model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </td>
        <td>
            Roles
            <span ng-show="model.sortType == 'roles' && !model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="model.sortType == 'roles' && model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
        </td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input ng-model="model.edit.username" class="form-control" type="text"  placeholder="Username" ></td>
        <td><input ng-model="model.edit.password" class="form-control" type="password"  placeholder="Password" ></td>
        <td><input ng-model="model.edit.firstName" class="form-control" type="text" placeholder="First Name" ></td>
        <td><input ng-model="model.edit.lastName" class="form-control" type="text" placeholder="Last Name" ></td>
        <td><input ng-model="model.edit.roles" type="text" width="50" class="form-control" placeholder="Role1, Role2" ></td>
        <td align="center" valign="middle">
            <a ng-click="model.addUser(model.edit)" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <a ng-click="model.updateUser(model.edit)" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
        </td>
    </tr>
    <tr ng-repeat="person in model.allUsers | orderBy:model.sortType:model.sortReverse">

        <td>{{ person.username }}</td>
        <td>&nbsp;</td>
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.roles.join(", ")}}</td>
        <td align="center" valign="middle">
            <a ng-click="model.removeUser(person._id)" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            <a ng-click="model.editUser(person)" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
        </td>
    </tr>
    </tbody>

</table>
